services:
  ssh:
    build:
      context: .
      ssh:
        - default
    ports:
      - "2222:22"
    volumes:
      # socket set here, env set in Dockerfile sshd_config
      - $SSH_AUTH_SOCK:/ssh-agent
